
@model BackendCapstone.Models.ClientPageViewModels.ClientPageDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "Details";
}
<div class="displayFlex--row">
    <div class="clientHomeName">
        <h1>@Model.ClientPage.Name</h1>
    </div>
    <div class="clientHomeUsers">
        @foreach (var item in Model.ClientPage.Users)
        {
            <div class="userColumn">
                @if (user.UserTypeId == 3)
                {
                    
                        <img class="userImg" src="~/images/@item.ImgPath" asp-append-version="true" />
                        <p>@item.FirstName @item.LastName</p>
                   
                }
                @if (user.UserTypeId == 1)
                {
                    <a asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@item.Id">
                        <div class="clientPageDetailsUser">
                            <img class="userImg" src="~/images/@item.ImgPath" asp-append-version="true" />
                            <p>@item.FirstName @item.LastName</p>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>

@if (user.UserTypeId != 3)
{
    <p>
        <a class="create" asp-controller="StoryBoards" asp-action="Create" asp-route-id=@Model.ClientPage.Id>Create New Story</a>
    </p>
}

<div class="storyBoardsContainer">
    <div id="storyBoardsList" class="storyBoards">

        @*  Use for loop to render unique form elements and ids for each StoryBoard. *@
        @for (int i = 0; i < Model.ClientPage.StoryBoards.Count; i++)
        {
            @*  StoryBoard and Chat container *@
            <div class="storyBoardContainer">

                @*  StoryBoard *@
                <div class="storyBoard">

                    @*  StoryBoard Header *@
                    <div class="storyBoardHeader">
                        <p style="margin: 10px 0 0 0">
                            <em>@Model.ClientPage.StoryBoards[i].PostDateTime</em>
                        </p>
                        <div id="approvalBox--@Model.ClientPage.StoryBoards[i].Id" class="approvalBox">
                            @if (Model.ClientPage.StoryBoards[i].IsApproved == true)
                            {
                                <img id="approvalCheck--@Model.ClientPage.StoryBoards[i].Id" class="approvalCheckImg" src="~/images/checkmark.png" />
                            }
                        </div>
                    </div>

                    @*  StoryBoard Card *@
                    <div class="storyBoardClientInfo">
                        <img class="storyBoardClientImg" src="~/images/@Model.ClientPage.ImgPath" asp-append-version="true" />
                        <p><strong>@Model.ClientPage.Name</strong></p>
                    </div>
                    <div>
                        <img class="storyBoardImg" asp-append-version="true" src="~/images/@Model.ClientPage.StoryBoards[i].ImgPath" />
                    </div>
                    <div>
                        <p>
                            <strong>@Model.ClientPage.Name</strong>&nbsp;@Model.ClientPage.StoryBoards[i].Text
                        </p>
                    </div>

                    @*  Client users cannot edit or delete *@
                    @if (user.UserTypeId != 3)
                    {
                        <div class="editDeleteContainer">
                            <a asp-route-id=@Model.ClientPage.StoryBoards[i].Id asp-controller="StoryBoards" asp-action="Edit">Edit</a>&nbsp;|&nbsp;
                            <a asp-route-id=@Model.ClientPage.StoryBoards[i].Id asp-controller="StoryBoards" asp-action="Delete">Delete</a>
                        </div>
                    }
                </div>

                <div class="storyBoardChatContainer">
                    <div class="storyBoardChat">
                        <div id="messagesList--@Model.ClientPage.StoryBoards[i].Id" class="chatList">
                            @foreach (var item in Model.ClientPage.StoryBoards[i].Chats)
                            {

                                if (item.UserId == user.Id)
                                {

                                    <div class="userChat">
                                        <p style="margin: 5px;">@item.Text</p>
                                    </div>
                                }
                                if (item.UserId != user.Id)
                                {
                                    <div class="otherUserChat">
                                        <p style="margin: 5px;"><b>@item.User.FirstName @item.User.LastName</b></p>
                                        <p style="margin: 5px;">@item.Text</p>
                                    </div>
                                }
                            }
                        </div>

                        <input id="clientPageId" type="hidden" asp-for="ClientPage.Id" />
                        <input id="storyBoardId" type="hidden" value="@Model.ClientPage.StoryBoards[i].Id" asp-for="@Model.StoryBoardId" />
                        <input id="userId--@Model.ClientPage.StoryBoards[i].Id" type="hidden" value="@user.Id" />

                        <div class="chatInputContainer">
                            <input id="messageInput--@Model.ClientPage.StoryBoards[i].Id" class="chatInput" placeholder="Add a comment..." />
                            <input id="sendButton--@Model.ClientPage.StoryBoards[i].Id" type="button" value="Post" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <input id="userTypeId" type="hidden" value="@user.UserTypeId" />
    </div>
</div>
@if (user.UserTypeId != 3)
{
    <div>
        <a asp-action="Index">Back to Client Pages</a>
    </div>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

