@model BackendCapstone.Models.HomeViewModels.AdminHomeViewModel

@{
    ViewData["Title"] = "AdminHome";
}

<h1>Admin Dashboard</h1>

<div class="dashContainer">
    <div class="dashUserColumn">
        @foreach (var item in Model.Reps)
        {
            <div class="userColumn">
                <a class="clientPageCardLink" asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@item.Id">
                    <div class="userContainer">
                        <img class="userImg repImg" src="~/images/@item.ImgPath" asp-append-version="true" />
                        <p>@item.FirstName @item.LastName</p>
                    </div>
                </a>
            </div>
        }
        @foreach (var item in Model.Admins)
        {
            <div class="userColumn">
                <a class="clientPageCardLink" asp-controller="ApplicationUsers" asp-action="MarketingUserDetails" asp-route-id="@item.Id">
                    <div class="userContainer">
                        <img class="userImg adminImg" src="~/images/@item.ImgPath" asp-append-version="true" />
                        <p>@item.FirstName @item.LastName</p>
                    </div>
                </a>
            </div>
        }
    </div>
   <div class="clientPagesContainer">
        @foreach (var item in Model.ClientPages) {
        
            <div class="clientPageCard">
                <a class="clientPageLink" asp-controller="ClientPages" asp-action="Details" asp-route-id="@item.Id">
                    <div>
                        <img class="clientPageCardImg" asp-append-version="true" src="~/images/@item.ImgPath"/>
                    </div>
                    <div class="clientPageCardName">
                        <h5>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                    </div>
                </a>
                <div class="editDeleteContainer">
                    <a asp-route-id=@item.Id asp-controller="ClientPages" asp-action="Edit">Edit</a>&nbsp;|&nbsp;
                    <a asp-route-id=@item.Id asp-controller="ClientPages" asp-action="Delete">Delete</a>
                </div>
            </div>
         
         }
   </div>
</div>
