@model BackendCapstone.Models.ApplicationUserViewModels.MarketingUserDetailsViewModel

@{
    ViewData["Title"] = "MarketingUserDetails";
}
    <div style="width:1100px; display: flex; flex-direction: row;">
        <div style="width:500px; align-items:flex-start;">
            <div style="display:flex; border-radius: 5px; flex-direction:row; align-items:center;">
                <img style="width:70px; height: 70px; border-radius: 50%;" src="~/images/@Model.User.ImgPath" asp-append-version="true" />
                <h1 style="margin: 0 15px;">@Model.User.FirstName @Model.User.LastName</h1>
            </div>
        </div>
        <div style="width:500px; display:flex; align-self:center; justify-content:flex-end;">
            <div style="align-items:center; display:flex; justify-content:flex-end;">
                <a asp-route-id=@Model.User.Id asp-controller="ApplicationUsers" asp-action="EditMarketingUser">Edit</a>
            </div>
        </div>
    </div>

<div>

    <h3>Upcoming Stories</h3>
    <div style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap:wrap;">
        @foreach (var item in Model.StoryBoards)
        {
        <div style="margin: 30px 22px; width:320px; border:1px solid #E6E6E6; background-color:#FAFAFA; border-radius:5px;">
            <div style="margin:10px; display:flex; align-items:center; flex-direction:row; height:50px; padding: 16px;">
                <img style="margin: 10px; border:double 3px #FF4251; width:35px; height: 35px; border-radius: 50%;" src="~/images/@item.ClientPage.ImgPath" asp-append-version="true" />
                <p><strong>@item.ClientPage.Name</strong></p>
                <br/>
                <p style="font-size:x-small"><em>Post Date: @item.PostDateTime</em></p>
            </div>
            <p><em>@item.PostDateTime</em></p>
            <div>
                <img style="border-radius: 4px 4px 0 0; width:317px; height:280px;" asp-append-version="true" src="~/images/@item.ImgPath" />
            </div>
            <div style="height: auto;">
                <p>
                    <strong>@item.ClientPage.Name</strong>&nbsp;@item.Text
                </p>              
            </div>
           
        </div>
        }
    </div>
    <h3>Client Pages</h3>
    <div style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap: wrap;">
        @foreach (var item in Model.ClientPageUsers)
        {

            <div style="margin: 30px 30px; width:auto; height:287px; background-color:#FAFAFA; border-radius:3px;">
                <a style="color:#345A6D; " asp-controller="ClientPages" asp-action="Details" asp-route-id="@item.ClientPage.Id">
                    <div>
                        <img style="border-radius:4px 4px 0 0; width:268px; height:250px;" asp-append-version="true" src="~/images/@item.ClientPage.ImgPath" />
                    </div>
                    <div class="clientPage__card__name" style="justify-content: center;">
                        <h5>
                            @Html.DisplayFor(modelItem => item.ClientPage.Name)
                        </h5>
                    </div>
                </a>
                <div style="display: flex; align-content:center; justify-content: center;">                  
                    <a asp-action="UnassignClientPage" asp-route-id=@item.Id>Unassign</a>                  
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="AdminHome">Back to Dashboard</a>
</div>
