@model BackendCapstone.Models.ApplicationUserViewModels.MarketingUserDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "MarketingUserDetails";
}
<div class="repDashContainer">
    <div class="repDasHeader">
        <div class="repUserContainer">
            <img class="repUserImg" src="~/images/@Model.User.ImgPath" asp-append-version="true" />
            <h1 style="margin: 0 15px;">@Model.User.FirstName @Model.User.LastName</h1>
        </div>
    </div>
    <div class="repUserEditContainer">
        <div class="repUserEdit">
            <a asp-route-id=@Model.User.Id asp-controller="ApplicationUsers" asp-action="EditMarketingUser">Edit</a>
        </div>
    </div>
</div>
<div>
    <h3>Upcoming Stories</h3>
    <hr />
    <div id="storyBoardsList" class="storyBoardCardsContainer">

        @*  Use for loop to render unique form elements and ids for each StoryBoard. *@
        @foreach (var item in Model.StoryBoards)
        {
            @*  StoryBoard and Chat container *@
            <div class="repStoryContainer">

                @*  StoryBoard *@
                <div class="repStory">

                    @*  StoryBoard Header *@
                    <div class="repStoryHeader">
                        <p style="margin: 10px 0 0 0">
                            <em>@item.PostDateTime</em>
                        </p>
                        <div id="approvalBox--@item.Id" class="approvalBox">
                            @if (item.IsApproved == true)
                            {
                                <img id="approvalCheck--@item.Id" class="approvalCheckImg" src="~/images/checkmark.png" />
                            }
                        </div>
                    </div>

                    @*  StoryBoard Client Info *@
                    <div class="repStoryClient">
                        <img class="repStoryClientImg" src="~/images/@item.ImgPath" asp-append-version="true" />
                        <p><strong>@item.ClientPage.Name</strong></p>
                    </div>
                    <div>
                        <img class="repStoryImg" asp-append-version="true" src="~/images/@item.ImgPath" />
                    </div>
                    <div>
                        <p>
                            <strong>@item.ClientPage.Name</strong>&nbsp;@item.Text
                        </p>
                    </div>
                    <div class="editDeleteContainer">
                        <a asp-route-id=@item.Id asp-controller="StoryBoards" asp-action="Edit">Edit</a>&nbsp;|&nbsp;
                        <a asp-route-id=@item.Id asp-controller="StoryBoards" asp-action="Delete">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />

    <h3>Client Pages</h3>
    <div class="clientPagesContainer">
        @foreach (var item in Model.ClientPageUsers)
        {

            <div class="clientPageCard">
                <a class="clientPageLink" asp-controller="ClientPages" asp-action="Details" asp-route-id="@item.ClientPage.Id">
                    <div>
                        <img class="clientPageCardImg" asp-append-version="true" src="~/images/@item.ClientPage.ImgPath" />
                    </div>
                    <div class="clientPageCardName">
                        <h5>
                            @Html.DisplayFor(modelItem => item.ClientPage.Name)
                        </h5>
                    </div>
                </a>
                @if (user.UserTypeId == 1)
                {
                    <div class="editDeleteContainer">
                        <a asp-action="UnassignClientPage" asp-route-id=@item.Id>Unassign</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="AdminHome">Back to Dashboard</a>
</div>
