@model BackendCapstone.Models.ApplicationUserViewModels.MarketingUserDetailsViewModel

@{
    ViewData["Title"] = "MarketingUserDetails";
}
    <div style="display: flex; flex-direction: row; align-items:center;">
        <img style="border:double 6px #345A6D; width:70px; height: 70px; border-radius: 50%;" src="~/images/@Model.User.ImgPath" asp-append-version="true" />
        <h1>@Model.User.FirstName @Model.User.LastName</h1>
        <a style="justify-content: flex-end;" asp-route-id=@Model.User.Id asp-controller="ApplicationUsers" asp-action="EditMarketingUser">Edit</a>
    </div>

<div>
    <h3>Recent Stories</h3>
    <div style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap:wrap;">
        @foreach (var item in Model.StoryBoards)
        {
        <div style="margin: 30px 22px; width:320px; border:1px solid #E6E6E6; background-color:#FAFAFA; border-radius:5px;">
            <div style="margin:10px; display:flex; align-items:center; flex-direction:row; height:50px; padding: 16px;">
                <img style="margin: 10px; border:double 3px #FF4251; width:35px; height: 35px; border-radius: 50%;" src="~/images/@item.ClientPage.ImgPath" asp-append-version="true" />
                <p><strong>@item.ClientPage.Name</strong></p>
            </div>
            <p><em>@item.PostDateTime</em></p>
            <div>
                <img style="width:317px; height:280px;" asp-append-version="true" src="~/images/@item.ImgPath" />
            </div>
            <div style="height: auto;">
                <p>
                    <strong>@item.ClientPage.Name</strong>&nbsp;@item.Text
                </p>
                <br />

            </div>
        </div>
        }
    </div>
    <h3>Client Pages</h3>
    <div style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap: wrap;">
        @foreach (var item in Model.ClientPages)
        {

            <div style="margin: 30px 30px; width:270px; height:287px; background-color:#FAFAFA; border-radius:3px;">
                <a style="color:#345A6D; " asp-controller="ClientPages" asp-action="Details" asp-route-id="@item.Id">
                    <div>
                        <img style="width:268px; height:250px;" asp-append-version="true" src="~/images/@item.ImgPath" />
                    </div>
                    <div class="clientPage__card__name" style="justify-content: center;">
                        <h5>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                    </div>
                </a>
                <div style="display: flex; align-content:center; justify-content: center;">
                    
                    
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="AdminHome">Back to Dashboard</a>
</div>
