@model BackendCapstone.Models.ApplicationUserViewModels.MarketingUserDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "MarketingUserDetails";
}
<div style="width:1100px; display: flex; flex-direction: row;">
    <div style="width:500px; align-items:flex-start;">
        <div style="display:flex; border-radius: 5px; flex-direction:row; align-items:center;">
            <img style="width:70px; height: 70px; border-radius: 50%;" src="~/images/@Model.User.ImgPath" asp-append-version="true" />
            <h1 style="margin: 0 15px;">@Model.User.FirstName @Model.User.LastName</h1>
        </div>
    </div>
    <div style="width:500px; display:flex; align-self:center; justify-content:flex-end;">
        <div style="align-items:center; display:flex; justify-content:flex-end;">
            <a asp-route-id=@Model.User.Id asp-controller="ApplicationUsers" asp-action="EditMarketingUser">Edit</a>
        </div>
    </div>
</div>
<div>
    <h3>Upcoming Stories</h3>
    <hr />
    <div id="storyBoardsList" style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap:wrap;">

        @*  Use for loop to render unique form elements and ids for each StoryBoard. *@
        @foreach (var item in Model.StoryBoards)
        {
            @*  StoryBoard and Chat container *@
            <div style="display: flex; flex-direction: row; margin: 30px 22px; height:auto;">

                @*  StoryBoard *@
                <div style="margin: 15px; width:320px; height:auto; border:1px solid #E6E6E6; background-color:#FDFDFD; border-radius:5px;">

                    @*  StoryBoard Header *@
                    <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                        <p style="margin: 10px 0 0 0">
                            <em>@item.PostDateTime</em>
                        </p>
                        <div id="approvalBox--@item.Id" style="width: 30px; height: 30px; border: solid 1px #BBBBBB; border-radius: 4px; margin: 10px 10px 0 10px; display: flex;">
                            @if (item.IsApproved == true)
                            {
                                <img id="approvalCheck--@item.Id" style="justify-content: center; width: 30px; height: 30px;" src="~/images/checkmark.png" />
                            }
                        </div>
                    </div>

                    @*  StoryBoard Body *@
                    <div style="margin:10px; display:flex; align-items:center; flex-direction:row; height:40px; padding: 16px;">
                        <img style="margin: 10px; border:double 3px #FF4251; width:35px; height: 35px; border-radius: 50%;" src="~/images/@item.ImgPath" asp-append-version="true" />
                        <p><strong>@item.ClientPage.Name</strong></p>
                    </div>
                    <div>
                        <img style="width:317px; height:280px;" asp-append-version="true" src="~/images/@item.ImgPath" />
                    </div>
                    <div>
                        <p>
                            <strong>@item.ClientPage.Name</strong>&nbsp;@item.Text
                        </p>
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <a asp-route-id=@item.Id asp-controller="StoryBoards" asp-action="Edit">Edit</a>&nbsp;|&nbsp;
                        <a asp-route-id=@item.Id asp-controller="StoryBoards" asp-action="Delete">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />

    <h3>Client Pages</h3>
    <div style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap: wrap;">
        @foreach (var item in Model.ClientPageUsers)
        {

            <div style="margin: 20px; width:auto; height:287px; background-color:#FAFAFA; border-radius:3px;">
                <a style="color:#345A6D; " asp-controller="ClientPages" asp-action="Details" asp-route-id="@item.ClientPage.Id">
                    <div>
                        <img style="border-radius:4px 4px 0 0; width:268px; height:250px;" asp-append-version="true" src="~/images/@item.ClientPage.ImgPath" />
                    </div>
                    <div class="clientPage__card__name" style="justify-content: center;">
                        <h5>
                            @Html.DisplayFor(modelItem => item.ClientPage.Name)
                        </h5>
                    </div>
                </a>
                @if (user.UserTypeId == 1)
                {
                    <div style="display: flex; align-content:center; justify-content: center;">
                        <a asp-action="UnassignClientPage" asp-route-id=@item.Id>Unassign</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="AdminHome">Back to Dashboard</a>
</div>
