@model BackendCapstone.Models.StoryBoardViewModels.StoryBoardCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StoryBoard</h4>
<hr />
<div style="margin: 8px 0; display:flex; flex-direction:row; align-items:center;">
    <p style="margin: 8px 8px 8px 25px;"> Created by: </p>
    <img style="width:40px; height: 40px; border-radius: 50%;" src="~/images/@Model.StoryBoard.User.ImgPath" asp-append-version="true" />
    <p style="margin:8px;"><strong>@Model.StoryBoard.User.FirstName @Model.StoryBoard.User.LastName</strong></p>
</div>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoryBoard.Id" />
            <div>
                <img style="width:317px; height:280px;" asp-append-version="true" src="~/images/@Model.StoryBoard.ImgPath" />
            </div>
            <div class="form-group">
                <label asp-for="Img"></label>
                <input asp-for="Img" type="file">
                <span asp-validation-for="Img"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedText" class="control-label"></label>
                <textarea asp-for="UpdatedText" class="form-control"></textarea>
                <span asp-validation-for="UpdatedText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedPostDateTime" class="control-label"></label>
                <input type="date" asp-for="UpdatedPostDateTime" class="form-control" />
                <span asp-validation-for="UpdatedPostDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.ImgPath)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.ClientPageId)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.UserId)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.IsApproved)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.Text)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.PostDateTime)
            </div>
            <div class="form-group">
                <input type="submit" asp-page-handler="Upload" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)">Back to Previous Page</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
